# Docker Project Name
COMPOSE_PROJECT_NAME=areteia

# Moodle Configuration
MOODLE_VERSION=MOODLE_405_STABLE
MOODLE_URL=http://localhost:8080
MOODLE_DATA_ROOT=/var/www/moodledata

# Database Configuration
DB_TYPE=pgsql
DB_HOST=db
DB_NAME=moodle
DB_USER=dbuser
DB_PASS=password
DB_PORT=5432

# Moodle Admin Configuration (First time install)
MOODLE_ADMIN_USER=admin
MOODLE_ADMIN_PASS=password
MOODLE_ADMIN_EMAIL=email@example.com
MOODLE_FULLNAME=AreteIA Moodle
MOODLE_SHORTNAME=AreteIA

